@use "common";
@use "mixin" as m;

// ---------------------------- index-top ----------------------------

.bg-gradation {
    background-image: linear-gradient(155deg, #8e7efe, #3F51D2 8%, #03368e 19%, #022B71);
    text-align: center;
    line-height: 2;
    font-size: 1.6rem;

    @include m.tab {
        font-size: 1.8rem;
    }

    @include m.ssp {
        font-size: 1.4rem;
    }
}

.heading {
    position: relative;
    height: 100vh;
    padding-top: 50vh;

    .first-star {
        position: absolute;
        top: 16%;
        right: 12%;
        width: 32px;
        height: auto;

        @include m.tab {
            width: 56px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            animation: twinkle 5s infinite;

            &:nth-child(1) {
                animation-delay: 0.2s;
            }

            &:nth-child(2) {
                animation-delay: 0.4s;
            }

            &:nth-child(3) {
                animation-delay: 0.6s;
            }
        }

        @keyframes twinkle {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.2;
            }

            40% {
                opacity: 1;
            }

            80% {
                opacity: 0.2;
            }

            100% {
                opacity: 0;
            }
        }
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 32px;

        @include m.tab {
            font-size: 2.4rem;
        }

        @include m.ssp {
            font-size: 1.8rem;
        }
    }


    .small-star {
        position: absolute;
        top: 90vh;
        left: 9%;
        width: 47px;
        height: 44px;

        @include m.tab {
            width: 72px;
            height: 67px;
        }

        @include m.ssp {
            width: 25px;
            height: 35px;
        }

        .small01 {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: auto;
            animation-delay: 0s;

            @include m.tab {
                width: 32px;
            }

            @include m.ssp {
                width: 14px;
            }
        }

        .small02 {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 10px;
            height: auto;
            animation-delay: 1s;

            @include m.tab {
                width: 17px;
            }

            @include m.ssp {
                width: 6px;
            }
        }

        img {
            opacity: 0;
            animation: twinkle2 4s infinite;


            @keyframes twinkle2 {
                0% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                }

                40% {
                    opacity: 0.7;
                }

                100% {
                    opacity: 0;
                }

            }

        }

    }
}

.prologue {
    padding-block: 120px 300px;

    p {
        margin-bottom: 48px;
    }
}

// ---------------------------- calendar ----------------------------

.calendar-scroll {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-inline: 16px;

    @include m.tab {
        overflow: visible;
        scroll-snap-type: none;
        margin-inline: 56px;
    }
}

.calendar-list {
    display: flex;
    gap: 16px;
    padding: 0 16px;

    @include m.tab {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0;
    }

    @include m.wtab {
        // display: grid;
        grid-template-columns: repeat(3, 1fr);
        // gap: 40px;
        // padding: 0;
    }


    .calendar-item {
        flex: 0 0 80vw;
        scroll-snap-align: start; //カードの先頭（start）にピタッと吸着

        @include m.tab {
            flex: initial; // ← flexの影響を消す
            width: 100%;
        }
    }
}


.calendar-inner {
    position: relative;
    width: 100%;

    .calendar-img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;

        img {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
        }

        &::after {
            position: absolute;
            display: block;
            content: '';
            inset: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            pointer-events: all; // ← クリックを奪う
            z-index: 2;
        }

    }
}


.accordion {
    display: flex;
    align-items: end;
    border-radius: 0 0 10px 10px;
    padding: 16px 3%;

    @include m.wtab {
        padding-inline: 5%;
    }

    .calendar-item.open & {
        flex-direction: column;
    }

    .jan & {
        background-color: #C39252;
    }

    .feb & {
        background-color: #F6BF6F;
    }

    .mar & {
        background-color: #FCD298;
    }

    .apr & {
        background-color: #DF8483;
    }

    .may & {
        background-color: #AEC9D4;
    }

    .jun & {
        background-color: #5C7347;
    }

    .jul & {
        background-color: #4D89A5;
    }

    .aug & {
        background-color: #0E4351;
    }

    .sep & {
        background-color: #D89E33;
    }

    .oct & {
        background-color: #884E67;
    }

    .nov & {
        background-color: #990A10;
    }

    .dec & {
        background-color: #8A540E;
    }

    .backcover & {
        background-color: #FEDB9E;

        .full>p:last-of-type {
            margin-bottom: 40px;
        }
    }



    &-text {
        flex-grow: 1;
        text-align: center;

        .calendar-item.open & {
            width: 100%;
        }

        @include m.ssp {
            font-size: 1.4rem;
        }

        .pc-br {
            display: inline;

            @include m.ssp {
                display: none;
            }

            @include m.tab {
                display: none;
            }

            @include m.pc {
                display: inline;
            }
        }

        .full {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transform: translateY(-8px);
            transition:
                opacity 0.3s ease-in-out,
                max-height 0.8s ease-in-out,
                transform 0.5s ease-in-out;

            .calendar-item.open & {
                opacity: 1;
                max-height: 3500px;
                /* 中身が入る最大想定値 */
                transform: translateY(0);
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 24px;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        .ng-img-flexbox {
            display: flex;
            gap: 8px;

            img {
                min-width: 0; // ← 超重要
                max-width: 100%;
                height: auto;
                flex-shrink: 1;
            }
        }

        .ending {
            border-top: 1.5px dashed #03276A;
            padding-top: 32px;
        }

    }
}

.calendar-item.open .short {
    display: none;
}


.accordion-trigger {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 0.5px solid #E6DFF8;
    border-radius: 50%;

    @include m.tab {
        width: 32px;
        height: 32px;
        // margin-bottom: 4px;
    }

    @include m.wtab {
        margin-bottom: 8px;
    }

    .calendar-item.open & {
        transform: rotate(180deg);
        margin-inline: auto 16px;
    }


    .arrow {
        position: absolute;
        color: #E6DFF8;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;

        polygon {
            fill: #E6DFF8;
        }
    }


    .font-navy & {
        border: 0.5px solid #03276A;

        .arrow {
            color: #03276A;

            polygon {
                fill: #03276A;
            }
        }
    }

}

